<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listen Together</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/fa/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/partials/main.css">
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
</head>
<body>
<div class="wrapper">
    <header class="header" th:insert="blocks/header :: header"></header>

    <main class="main">
        <h1 class="auth--center auth--header">Ошибка регистрации! Аккаунт уже существует!</h1>
    </main>

    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
</div>

</body>
</html>

<!--li th:each="user : ${lobby.users}" class="main--users_list--item" th:id="${'user//id=' + user.id}">
                        <div class="main--users_list--item--username" th:text="${user.name}"></div>

                        <div class="main--users_list--item--buttons">
                            <div class="users_list--item--mutebutton" th:switch="${user.state}">
                                <i th:case="LISTENING" class="fa-solid fa-volume-high main--users_list--item--buttons--item"></i>
                                <i th:case="MUTED" class="fa-solid fa-volume-xmark main--users_list--item--buttons--item"></i>
                                <i th:case="DISCONNECTED" class="fa-solid fa-person-walking-arrow-right main--users_list--item--buttons--item"></i>
                                <i th:case="*" class="fa-solid fa-person-walking-arrow-right main--users_list--item--buttons--item"></i>
                            </div>
                            <div class="users_list--item--kickbutton"><i class="fa-solid fa-door-open"></i></div>
                        </div>
                    </li-->



<!-- li th:each="songl : ${lobby.songsList}" class="main--songs_list--item">
                        <button class="songs_list--item--play"><i class="fa-solid fa-play"></i></button>
                        <div th:text="'автор имя'" class="songs_list--item--author"></div>
                        <div th:text="'песня имя'" class="songs_list--item--song"></div>
                        <div th:text="'альбом имя'" class="songs_list--item--album"></div>
                        <div th:text="'0'" class="songs_list--item--views">Прослушивания</div>
                    </li -->