.main--index {
    height: 100%;
    background-color: #242424;

    display: grid;
    grid-template-columns: minmax(40px,500px) 1fr minmax(40px,500px);
    align-content: center;
}

.main--index--lobby {
    grid-column: 2 / 3;
    width: 100%;
    display: flex;
    justify-content: center;

    height: 70px;
}

.lobby--input {
    font-size: 40px;
    width: 300px;
    text-transform: uppercase;

    font-family: 'Roboto', sans-serif;
}

.lobby--btn {
    font-size: 40px;
    width: 100px;
    background-color: rgba(0,0,0,0);
    border: solid;
    border-color: white;
    color: white;

    font-family: 'Roboto', sans-serif;
}

.main--info {
    color: #aeaeae;
    grid-column: 2 / 3;
    text-align: center;
}