<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Listen Together</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <div th:insert="blocks/styles :: styles"></div>
</head>
<body>
<div class="wrapper" id="app">
    <header class="header">
        <link rel="stylesheet" type="text/css" href="/css/partials/header.css">
        <router-link to="/" class="header--logo unselectable clickable">
            Listen Together
        </router-link>
        <div class="header--menu unselectable">
            <ul class="header--menu--content">
                <li class="header--menu--option option--upload">
                    <router-link to="/upload"><i class="fa-solid fa-upload"></i></router-link>
                </li>
                <li class="header--menu--option option--login">
                    <div class="profile" v-if="isAuth">
                        <div class="profile--btn"> {{ username }} </div>
                        <div class="profile--content">
                            <div v-on:click="leave">Выйти</div>
                        </div>
                    </div>
                    <router-link v-else to="/auth/login"> Войти </router-link>
                </li>
            </ul>
        </div>
    </header>

    <main class="main">
        <router-view></router-view>
    </main>

    <footer class="footer">
        <link rel="stylesheet" type="text/css" href="/css/partials/footer.css">
        <ul class="footer--content">
            <li class="footer--content--option">
                CLOSER TO FRIENDS
            </li>
            <li class="footer--content--option">
                ping: {{ ping }}ms
            </li>
            <li class="footer--content--option">
                WE ARE USING COOKIES
            </li>
        </ul>
    </footer>

    <div v-bind:class="{ player_on: isSocketConnected }" class="player">
        <div class="player--wrapper">
            <div v-on:click="moveDuration" class="player--duration--slider">
                <div v-bind:style=" { width: durationSliderWidth } "class="player--duration--slider--done"></div>
                <div v-bind:style=" { width: durationSliderWidth } "class="player--duration--slider--"></div>
            </div>

            <div class="player--controller">
                <div class="player--left">
                    <div class="player--current_time">{{ Math.floor(audio.currentTime / 60) }}:{{ (Math.floor(audio.currentTime % 60)) == 0 ? "00" : (Math.floor(audio.currentTime % 60)) < 10 ? "0"+(Math.round(audio.currentTime % 60)) : (Math.round(audio.currentTime % 60)) }}</div>
                </div>

                <div class="player--middle">
                    <router-link :to="'/lobby/' + lobbyCode"><i class="player--btn fa-solid fa-house-user clickable"></i></router-link>

                    <i v-on:click="prevsong()" class="player--btn fa-solid fa-backward clickable"></i>

                    <i v-on:click="playstop()" v-if="!isPlaying" class="player--play fa-solid fa-circle-play clickable"></i>
                    <i v-on:click="playstop()" v-else class="player--play fa fa-circle-pause clickable" aria-hidden="true"></i>

                    <i v-on:click="skipsong()" class="player--btn fa-solid fa-forward clickable"></i>

                    <i v-on:click="repeat()" v-if="queueState == 'REPEAT_ALL'"class="fa-solid fa-repeat player--btn clickable"></i>
                    <i v-on:click="repeat()" v-if="queueState == 'NO_REPEAT'"class="fa-solid fa-repeat repeat-off player--btn clickable"></i>
                    <i v-on:click="repeat()" v-if="queueState == 'REPEAT_ONE'"class="fa-solid fa-arrow-rotate-right player--btn clickable"></i>
                </div>

                <div class="player--right">
                    <div class="player--all_time">{{ Math.floor(audio.duration / 60) }}:{{ (Math.floor(audio.duration % 60)) == 0 ? "00" : (Math.floor(audio.duration % 60)) < 10 ?  "0"+(Math.floor(audio.duration % 60)) : (Math.floor(audio.duration % 60))}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div hidden>
    <p id="data" th:text="${ data }"></p>
</div>

<script src="/js/main.js"></script>
<script src="/js/player.js"></script>

<script src="https://unpkg.com/vue@3.2.31/dist/vue.global.js"></script>
<script src="https://unpkg.com/vue-router@4.0.14/dist/vue-router.global.js"></script>

<script src="/routes/index.js"></script>
<script src="/routes/auth.js"></script>
<script src="/routes/upload.js"></script>
<script src="/routes/lobby_index.js"></script>

<script src="/js/routing.js"></script>
<!--div th:insert="blocks/scripts :: scripts"></div -->
</body>
</html>