<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listen Together</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/partials/main.css">
    <link rel="stylesheet" type="text/css" href="/fa/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/upload.css">
</head>
<body>
<div class="wrapper">
    <header class="header" th:insert="blocks/header :: header"></header>

    <main class="main">

    </main>

    <player th:insert="blocks/player :: player"></player>
    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
</div>
<div th:insert="blocks/scripts :: scripts"></div>
</body>
</html>