<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listen Together</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/partials/main.css">
    <link rel="stylesheet" type="text/css" href="/fa/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/upload.css">
</head>
<body>
<div class="wrapper">
    <header class="header" th:insert="blocks/header :: header"></header>

    <main class="main">
        <h1 class="upload--header">Загрузка песни</h1>
        <form class="upload--form" action="/post/addSong" method="post" enctype="multipart/form-data">
            <input type="text" name="author" placeholder="Автор" class="upload--input">
            <input type="text" name="album" placeholder="Название альбома" class="upload--input">
            <input type="text" name="name" placeholder="Название песни" class="upload--input">
            <input type="file" name="file" class="upload--input">
            <button type="submit" class="upload--button">Отправить</button>
        </form>
    </main>

    <player th:insert="blocks/player :: player"></player>
    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
</div>
<div th:insert="blocks/scripts :: scripts"></div>
</body>
</html>